<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="H4T Consulting. Atuamos com o desenvolvimento de talentos, sejam eles 
        nas organizações ou individualmente. Proporcionamos capacitações através de cursos online ou EAD, treinamentos 
        customizados, mentoria online individual ou em grupo, mapeamento de perfil comportamental e Coaching para o 
        desenvolvimento de competências e comportamentos.">
    <meta name="author" content="Claudio Lopes">
    <meta name="keywords" content="talentos, organizações, capacitações, cursos, treinamentos, mentoria, coaching, 
        competencias, comportamentos">
    <meta name="robots" content="index, nofollow">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="icon" type="image/png" href="../static/img/icon.png">
    <title>H4T_Consulting - Cursos e Capacitações</title>
</head>

<body>
    <i class="bi bi-list menu-mobile"></i>
    <aside id="header">
        <section class="profile">
            <img src="../static/img/logo.png" alt="logotipo">
            <h1>H4T HUMANIZATION FOR TRANSFORMATION</h1>
            <div class="container">
                <div class="row">
                    <div class="col social-links mt-4 text-center">
                        <a target="_blank" href="#"><i class="bi bi-facebook"
                                style="font-size: 1.8rem; color: #3b5998;">
                            </i></a>
                    </div>
                    <div class="col social-links mt-4 text-center">
                        <a target="_blank" href="#"><i class="bi bi-whatsapp"
                                style="font-size: 1.8rem; color: #34af23;">
                            </i></a>
                    </div>
                    <div class="col social-links mt-4 text-center">
                        <a target="_blank" href="#"><i class="bi bi-instagram"
                                style="font-size: 1.8rem; color: #3f729b;">
                            </i></i></a>
                    </div>
                    <div class="col social-links mt-4 text-center">
                        <a target="_blank" href="#"><i class="bi bi-twitter" style="font-size: 1.8rem; color: #00aced;">
                            </i></a>
                    </div>
                </div>
            </div>
        </section>
        <nav id="nav-bar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">
                        <i class="bi bi-house"></i>HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sobre-nos">
                        <i class="bi bi-person"></i>SOBRE NÓS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/quem-somos">
                      <i class="bi bi-people-fill"></i>QUEM SOMOS</a>
                  </li>
                <li class="nav-item">
                    <a href="/fazemos" class="nav-link">
                        <i class="bi bi-book"></i>O QUE FAZEMOS</a>
                </li>
                <li class="nav-item">
                    <a href="/blog" class="nav-link">
                        <i class="bi bi-tv"></i>BLOG</a>
                </li>
                <li class="nav-item">
                    <a href="/contato" class="nav-link">
                        <i class="bi bi-envelope"></i>CONTATO</a>
                </li>
            </ul>
        </nav>
    </aside>
    <main id="main">

    </main>
    <footer id="footer">
        <div class="container-ms p-3 mt-4">
            <div class="text">
                &copy; Copyright <strong><em>H4T Humanization For Transformation</em></strong>
                <p>criação de sites: <strong><em>claudioglopes2@gmail.com</em></strong></p>
            </div>
        </div>
    </footer>
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>