<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="icon" type="image/png" href="../static/img/icon.png">
    <title>h4t_Consulting - Cursos e Capacitações</title>
</head>
<body>
    <i class="bi bi-list menu-mobile"></i>
    <aside id="header">
        <section class="profile">
            <img src="../static/img/h4t-logo-site.png" alt="logotipo">
            <h1>H4T HUMANIZATION FOR TRANSFORMATION</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="#"><i class="bi bi-facebook"></i></a>
            </div>
        </section>
        <nav id="nav-bar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">
                    <i class="bi bi-house"></i>HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sobre">
                    <i class="bi bi-person"></i>SOBRE NÓS</a>
                </li>
                <li class="nav-item">
                    <a href="#quem-somos" class="nav-link">
                    <i class="bi bi-person"></i>QUEM SOMOS</a>
                </li>
                <li class="nav-item">
                    <a href="/fazemos" class="nav-link">
                    <i class="bi bi-book"></i>O QUE FAZEMOS</a>
                </li>
                <li class="nav-item">
                    <a href="/blog" class="nav-link">
                    <i class="bi bi-tv"></i>BLOG</a>
                </li>
                <li class="nav-item">
                    <a href="/contato" class="nav-link">
                    <i class="bi bi-envelope"></i>CONTATO</a>
                </li>
            </ul>
        </nav>
    </aside>
    <main id="main">
        <section id="sobre">
            <h1 id="titulo">SOBRE NÓS</h1>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-7" id="video">
                        <video class="col-xs-12" width="100%" height="auto" controls autoplay>
                            <source src="../static/videos/paty.mp4" type="video/mp4" />
                        </video>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-5">
                        <h3>Será que foi o destino?</h3>
                        <p>Será que foi o destino? Talvez! Iniciamos nossa trajetória com a certeza de que tudo foi pensado e cada detalhe ajustado milimetricamente. Queremos elevar o patamar do atendimento, para que pessoas e organizações possam trabalhar seu projeto com qualidade e clareza, através da parceria e envolvimento seguiremos juntos de mãos dadas nessa jornada.</p>
                        <p>Oferecemos serviços customizados para os nossos clientes, afinal acreditamos que entendendo a sua necessidade, conseguimos nos adequar ao seu projeto – propondo a melhor solução.</p>
                        <p>Todos os dias milhares de clientes precisam de serviços para suprir uma necessidade ou uma dor. Há um tempo percebemos que o nosso propósito está na visão humanizada nas relações interpessoais, e isso é colocado em prática todos os dias. A partir dessa ideia surge a H4T Consulting, empresa que nasceu grande pela expertise e propósito dos seus fundadores. Acreditamos na transformação através da humanização, por isso apoiamos na mudança de mindset e comportamento.</p>
                    </div>
                </div>
                <div class="col-md-12" data-anime="down">
                    <h2>PROPÓSITO</h2>
                    <p>Apoiamos pessoas e organizações a alcançarem seus resultados através de uma transformação humanizada, com o despertar da consciência, das competências e dos comportamentos que levem a esse patamar.</p>
                    <h3>Para quem fazemos:</h3>
                    <ul>
                        <li>Pessoas que procurem desenvolvimento pessoal</li>
                        <li>Para profissionais e organizações que busquem transformação através das pessoas.</li>
                        <li>Potencializar as habilidades de nossos clientes.</li>
                    </ul>
                    <p>Portanto, onde há pessoas e relacionamentos, há espaço para uma transformação humanizada!</p>
                </div>
            </div>
        </section>
        <footer id="footer">
            <div class="container">
                <div class="text-center">
                    &copy; Copyright <strong><em>H4T Humanization For Transformation</em></strong>
                    <p>criação de sites: <strong><em>claudioglopes2@gmail.com</em></strong></p>
                </div>
            </div>
        </footer>
    </main>
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>